* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    line-height: normal;
    font-weight: 600;
    color: #ffffff;
    padding: 18px 35px;
    border: 0px;
    background-color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav_title {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-left: 50px;
}